@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Reset global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header total y logo*/

header {
    min-height: 161px;
    display: flex;
    position: relative;
    z-index: 9999;
    border-bottom: 1px solid #e6e6e6;
}

.logo{
    width: 336px;
    display: inline-block;
    position: absolute;
    top: 0;
}
.logo img{
    padding: 7%;
}

/* Contenedor_header*/

.contenedor_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 1400px;
    margin: 0 auto;
    max-width: calc(100% - 40px);
}

/*Header derecho*/
.header_derecho{
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
}
.header_derecho>ul {
    display: flex;
    margin-left: auto;
    margin-top: 50px;
}
/* menu secundario*/

.contenedor_menu_secundario, .menu_secundario{
    display: flex;
    align-items: center;
}
.menu_secundario{

    list-style: none;
    margin: 0;
    padding: 0;
}
@media (min-width: 1024px){
.menu_secundario>li:first-child {
    margin-left: 0;
}
}
@media (min-width: 1024px){
.menu_secundario>li.program-dd {
    position: static;
}
}
.menu_secundario>li {
    margin-left: 40px;
    position: relative;
}
.menu_secundario>li>a {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    padding: 30px 0;
    display: block;
    font-size: 18px;
}
.menu_secundario>li>a:hover{
    color: #f60;
}

.search_icon {
    background: rgb(255,102,0) url(Assets/search-icon.svg) no-repeat center center;
    background-size: 24px 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-left: 40px;
}

/* Menu Principal*/
.menu_primario{
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 18px 0 18px;
}
.menu_primario li {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    margin-left: 40px;
    font-size: 14px;
}
.menu_primario li a {
    color: inherit;
    text-decoration: none;
}
.menu_primario li a:hover{
    text-decoration: underline;
}

/* Banner Menu*/

.banner_menu_contenedor{
    position: relative;
    padding-top: 30px;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    margin: 0 auto;
    max-width: calc(100% - 40px);
}

.banner_menu{
    max-width: 48%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    color: #cacaca;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;    
    background-color: transparent;
    border-radius: 0.25rem;
    flex-wrap: wrap;
}
.banner_menu a {
    margin-left: 0;
    color: #1779ba!important;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
}

/*contenedor secciones*/
.fixer::before, .fixer::after {
    content: " ";
    display: table;
    box-sizing: border-box;
}






/*Seccion de comunicacion*/

.seccion_comunicacion{
    height: 953px;
}


.seccion_comunicacion .contenedor{
    display: block;

}


.comunicacion_social{
    width: 51%;
    float: left;
    padding-top: 33px;
    padding-right: 35px;
    max-width: 610px;
}
.comunicacion_social h3 {
    margin: 0 0 20px 0;
}
/*Linea*/
.linea_heading{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.linea_heading span {
    font-size: 14px;
    line-height: 25px;
    color: #f60;
    border: 1px solid #f60;
    padding: 5px 41px;
    border-radius: 18px;
    background: #fff;
}
.linea_heading:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #f60;
    display: block;
    left: 0;
    top: 16px;
    z-index: -1;
}
/* imagen */
.imagen_comunicacion {
    width: 49%;
    float: right;
    margin-top: -46px;
}
.imagen_comunicacion img {
    width: 100%;
}

/*informacion imagen*/

.informacion_imagen_comunicacion
{
    background: #617989;
}
.informacion_imagen_comunicacion ul {
    margin: 0;
    padding: 15px 30px 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.informacion_imagen_comunicacion ul li {
    font-size: 16px;
    color: #fff;
    padding-right: 19px;
    line-height: 25px;
    padding-bottom: 10px;
}
.informacion_imagen_comunicacion ul li span {
    font-weight: 700;
    margin-right: 5px;
}

/*Contenido Informacion Comunicacion*/
.contenido_comunicacion {
    width: 51%;
    float: left;
    padding-right: 35px;
    max-width: 610px;
}
.comunicacion_contenido{
    margin: 0 0 59px 0;
}

.comunicacion_contenido p {
    line-height: 27px;
    margin: 0 0 15px 0;
}

.comunicacion_contenido .button {
    min-width: 276px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.comunicacion_contenido .btn{
    min-width: 274px;
    margin-bottom: 20px;
}

.btn{
    min-width: 218px;
    padding: 18px 32px;
    border: 1px solid #f60;
    border-radius: 35px;
    background-color: #fff;
    background-size: cover;
    font-family: Roboto;
    font-size: 18px;
    line-height: 26px;
    color: #00233b;
    text-decoration: none solid rgb(0,35,59);
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
}


/*Seccion de tarjetas*/

.seccion_tarjetas{
    padding: 100px 0 0 0;
}
.seccion_tarjetas h3 {
    margin: 0 0 54px 0;
    text-align: center;
}


.seccion_tarjetas .contenedor{
    display: block;
}


.seccion_tarjetas .tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seccion_tarjetas .tarjetas .tarjeta{
    width: calc(33.3333% - 20px);
    background-color: #f8f7f5;
    border-radius: 16px;
    padding: 46px;
    text-align: center;
}

.tarjeta .tag_tarjeta {
    margin: 0 0 24px 0;
    display: block;
    font-size: 20px;
    line-height: 25px;
}
.tarjeta .descripcion_tarjeta {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 0 0 16px 0;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta .direccion_tarjeta {
  
    margin: 0 0 8px 0;
    font-size: 12px;
    line-height: 18px;
}

/*Seccion campo laboral*/
.seccion_campo{
    padding-top: 75px;
    margin-bottom: 68px;
}
.seccion_campo .contenedor {
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}
.seccion_campo .campo_texto{
    width: 34%;
    padding-right: 24px;
}
.campo_heading{
    margin: 0 0 32px 0;
}

.seccion_campo h3 {
    margin: 0 0 7px 0;
}

.seccion_campo .campo_imagen {
    width: 66%;
    display: flex;
    justify-content: space-between;
}

.campo_imagen img {
    max-width: calc(50% - 8px);
    width: 100%;
}


/*Seccion Matriculas*/
 
.seccion_matriculas{
    margin-top: 68px;
    margin-bottom: 61px;
}

.seccion_matriculas .contenedor{
    padding: 37px 15px 0 15px;
    background-color: #f8f7f5;
    justify-content: center;
}
.seccion_matriculas h3 {
    margin: 0 0 32px 0;
}
.seccion_matriculas .matriculas_texto{
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.seccion_matriculas p{
    margin: 0 0 30px 0;
    text-align: center;
}

/*Seccion Experto*/
.seccion_experto{
    padding-bottom: 87px
}
.experto_imagen {
    width: 49.3%;
}
.experto_imagen img {
    width: 100%;
}

.experto_imagen .imagen_contenido{
    margin: 32px 0 0 0;
}

.experto_imagen h4 {
    margin: 0 0 23px 0;
}
.linea_inferior_heading {
    color: #f60;
    padding-bottom: 11px;
    position: relative;
    display: inline-block;
}
.linea_inferior_heading:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #f60;
    left: 0;
    bottom: 0;
}
.experto_imagen p{
    margin: 0 0 16px 0;
}

.experto_texto{
    width: 42%;
    margin-left: auto;
}
.experto_texto h3 {
    margin: 0 0 25px 0;
}
.experto_texto ul {
    list-style: none;
    padding: 0;
    margin: 0 0 11px 0;
}
.experto_texto ul li {
    position: relative;
    padding-bottom: 17px;
    padding-left: 25px;
}
.experto_texto ul li:before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #f60;
    position: absolute;
    top: 12px;
    left: 0;
}
.boton_flecha {
    width: 338px;
    height: 48px;
    background: #446d89;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    display: block;
    text-decoration: none;
    padding: 8px 12px 12px 75px;
    max-width: 100%;
    position: relative;
    white-space: nowrap;
    transition: all 0.3s ease-in;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.boton_flecha::before{ 
    content: '';
    position: absolute;
    background: #2c90e8 url(Assets/down-arrow.svg) no-repeat center;
    width: 56px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    top: 0;
    left: 0;
}


/* Globales */

.contenedor{
    width: 1400px;
    margin: 0 auto;
    max-width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
}



main{
    display: block;
}
.button{
    min-width: 300px;
    padding: 18px 32px;
    background-color: #f60;
    background-size: cover;
    font-family: Roboto;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 0 3px 9px rgba(0,0,0,.2);
    display: inline-block;
    border-radius: 35px;
    letter-spacing: 1px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

body, p {
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #00233b;
    font-weight: 400;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

img{
    width: 100%;
    height: auto;
    display: block;
    line-height:0;
}

a{
   
    color: #f60;
    text-decoration: underline;
    transition: all 0.3s ease;
    background-color: transparent;
}
html{
    -webkit-text-size-adjust: 100%;
}
h3{
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    color: #00233b;
}
b, strong {
    font-weight: bolder;
}